.profile__name {
  color: #fff;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin: 0 18px 16px 0;
  max-width: 294px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 700px) {
  .profile__name {
    font-size:27px;
    line-height: 33px;
    margin-bottom: 14px;
    margin-left: 16.31206%;
    margin-right: 10px;
    max-width: 67.02128%;
    text-align: center;
  }
}


