@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/element/element.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/page/__main/page__main.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/element/__description/element__description.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__delete/cards__delete.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__info/cards__info.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/cards/__like/cards__like.css);
@import url(../blocks/cards/__like/_active/cards__like_active.css);
@import url(../blocks/popup/__description/popup__description.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__zoom-container/popup__zoom-container.css);
@import url(../blocks/popup/_zoom/popup_zoom_active.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__disabled-button/popup__disabled-button.css);
@import url(../blocks/element/__like-count/element__like-count.css);
@import url(../blocks/element/__like-container/element__like-container.css);
@import url(../blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(../blocks//profile/__avatar-container/profile__avatar-container.css);